.navbar {
  position: static;
  margin-bottom: 20px;
}
.container-fluid {
  margin-left: auto;
  margin-right: auto;
  width: 940px;
  padding-left: 10px;
  padding-right: 10px;
}
.container-fluid > .sidebar {
  float: right;
  left: 20px;
  position: static;
  top: 0;
  width: 220px;
}
.container-fluid > .content {
  margin-right: 240px;
  margin-left: 0px;
}
.form-actions {
  background: none;
  border-top: none;
}

#container_top {
  padding-bottom: 20px;
}
#id_body, #id_comment {
  width: 46em;
  height: 24em;
}
.form-horizontal .control-group > label {
  width: 80px;
}
.form-horizontal .controls {
  margin-left: 100px;
}
.pasters .paster {
  border-bottom: 1px solid #DDDDDD;
  padding-bottom: 1em;
  margin-bottom: 1em;
}
.p-info {
  color: gray;
  padding-bottom: 4px;
}
.p-info span {
  font-weight: bold;
}
.errorlist {
  color: #B94A48;
}
