Django>=1.3
south
dj-scaffold
django-devserver
django-debug-toolbar
textile
docutils
Markdown
django-taggit
django-taggit-templatetags
django-pagination
git+git://github.com/earle/django-bootstrap.git
