{% extends "base.html" %}

{% load i18n %}

{% block extra_header %}
  <style type="text/css">
  </style>
{% endblock %}

{% block page_body %}
  {% block topbar %}
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="brand" href="{% url note_idx %}">碎片</a>
          <form action="" class="navbar-search pull-left">
            <input type="text" placeholder="Search">
          </form>
          <ul class="nav">
            <li><a href="{% url note_idx %}">发布内容</a></li>
            <li><a href="{% url note_last %}">最新发布</a></li>
            <li><a href="{% url note_tags %}">标签云</a></li>
            <!-- <li><a href="#contact">随便看看</a></li> -->
          </ul>
          <ul class="nav pull-right">
            <li><a href="#"><span>Help</span></a></li>
          </ul>
        </div>
      </div>
    </div>
  {% endblock %}

  {% block container %}
    <div class="container-fluid">
      {% if messages %}
        <div class="alert alert-info">
          {% for message in messages %}
            {{message|safe}}
          {% endfor %}
        </div>
      {% endif %}

      {% block container_top %}
      {% endblock %}

      {% block sidebar %}
        <div class="sidebar">
        </div>
      {% endblock %}

      {% block content %}
        <div class="content">
        </div>
      {% endblock %}

    </div>
  {% endblock %}

  {% block footer %}
    <footer>
      <hr/>
      <div class="container-fluid">
        <p>&copy; Company 2012</p>
      </div>
    </footer>
  {% endblock %}
{% endblock %}        
