{% extends "jstnote/base.html" %}
{% load i18n %}
{% load comments %}

{% block title %} {{ paster.body|slice:"60" }}{% if paster.body|length > 140 %}...{% endif %} {% endblock %}

{% block extra_header %}
  {{block.super}}
  <style type="text/css">
    .comment {
      padding: 6px 0px;
    }
    .comment_form {
      padding: 6px 0;
    }
  </style>
{% endblock %}

{% block sidebar %}
<div class="sidebar">
  <div id="ckepop" style="padding-bottom: 30px">
    <a href="http://www.jiathis.com/share" class="jiathis jiathis_txt" target="_blank"><img src="http://v2.jiathis.com/code_mini/images/btn/v1/jiathis1.gif" border="0" /></a>
    <a class="jiathis_counter_style_margin:3px 0 0 2px"></a>
  </div>

  <div class="well">
    by <b>{{paster.get_created_by}}</b>
    <br/>
    on <b>{{paster.created_on|date:"Y-m-d H:i" }}</b>
    <br/>
    {% get_comment_count for paster as comment_count %}
    浏览 <b>{{ paster.num_views }}</b>
    回复 <b>{{ comment_count }}</b>
  </div>

  <div class="">
    <a href="#" id="id_edit">编辑</a>
    <a href="#" id="id_del">删除</a>
    <form id="id_admin_form" method="post" action="" style="display: none" >
      {% csrf_token %}
      <input type="hidden" name="act">
      <input type="password" id="id_pwd" name="pwd" placeholder="密码">
      <button class="btn" type="submit" id="id_submit" name="submit"> 确认 </button>
    </form>
  </div>
</div>
{% endblock %}

{% block container_top %}
  {% if paster.title %}
	<div id="container_top">
	  <h1> {{paster.title}} </h1>
	</div>
  {% endif %}
{% endblock %}

{% block content %}
  <div class="content">
    <div>
      {% with paster_markup=paster.markup paster_body=paster.body %}
        {% include "jstnote/inc/markup.html" %}
      {% endwith %}
    </div>
    <hr/>
    <div class="comments">
      <h3>评论</h3>
      {% get_comment_list for paster as comment_list %}
      {% for c in comment_list %}
      <div class="comment" id="c{{ c.id }}">
          <div class="p-info">
            by <span>{{ c.user_name }}</span> |
            on {{ c.submit_date|date:"Y-m-d H:i" }}
          </div>
          {{ c.comment|linebreaks }}
      </div>
      {% endfor %}
    </div>
    <div class="comment_form">
      <h3>发表评论</h3>
      {% render_comment_form for paster %}
    </div>
  </div>
{% endblock %}

{% block footer_ext %} 
  {{block.super}}
  <script type="text/javascript" src="http://v2.jiathis.com/code_mini/jia.js" charset="utf-8"></script>
  <script>
    var url_del = "{% url note_delete paster.pk %}";
    var url_to_edit = "{% url note_to_edit paster.pk %}";
    $(function(){
      $('#id_edit').click(function(){
        $('#id_admin_form').toggle();
        $('#id_admin_form').attr('action', url_to_edit);
        $('#id_submit').text('确认编辑');
        return false;
      });
      $('#id_del').click(function(){
        $('#id_admin_form').toggle();
        $('#id_admin_form').attr('action', url_del);
        $('#id_submit').text('确认删除');
        return false;
      });
    });
    function _checkField(o) {
      if (o.val() == '') {
        o.parent().append('<span class="errorlist">该字段必填</span>');
        return false;
      }
      return true;
    }
    function _checkEmail(o)  {  
      if (isEmail(o.val())) {
        return true;
      }
      o.parent().append('<span class="errorlist">不是合法的邮件地址</span>');
      return false;
    }
    function _isURL(o) {
      var s = o.val()
      if (s == '') {
        return true;
      }
      if (isURL(s)) {
        return true;
      } 
      o.parent().append('<span class="errorlist">不是合法的网址</span>');
      return false;
    }
    $('.comment_form form').submit(function(){
      $('.comment_form form .errorlist').remove();
      var ret = _checkField($('#id_name')) & _checkField($('#id_email')) & _checkField($('#id_comment'));
      if (ret > 0) {
        ret = _checkEmail($('#id_email')) & _isURL($('#id_url'));
        if (ret > 0) {
          return true;
        };
      }
      alert('您填写的信息不完整，请修正后重新提交');
      return false;
    });
  </script>
{% endblock %}
