{% extends "jstnote/base.html" %}
{% load i18n %}

{% block extra_header %}
  {{block.super}}
{% endblock %}

{% block sidebar %}
<div class="sidebar">
  {% include "jstnote/inc/site_intro.html" %}
</div>
{% endblock %}

{% block container_top %}
  <div id="container_top">
    <h1> 标签云 </h1>
  </div>
{% endblock %}

{% block content %}
  <div class="content">
    {% load taggit_extras %}
    {% get_tagcloud as tags %}
    <div class="tags">
      {% for tag in tags %}
        <a href="{% url note_tag tag.name %}"><font size={{tag.weight|floatformat:0}}>{{tag}}</font></a>
      {% endfor %}
    </div>
  </div>
{% endblock %}
